---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="posts-item">
    <h1 class="posts-item-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="posts-item-summary">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="posts-item-date">
        {{ post.date | date: site.date_format }} |
      </time>
      {{ post.content | newline_to_br | split: '<br />' | first | strip_html | truncatewords:30 }}
      <a href="{{ site.baseurl }}{{ post.url }}">
        계속 읽기
      </a>
    </p>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">이전 페이지</a>
  {% else %}
    <span class="pagination-item newer">이전 페이지</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">다음 페이지</a>
  {% else %}
    <span class="pagination-item older">다음 페이지</span>
  {% endif %}
</div>
