// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 1rem 0;
  margin-bottom: 3rem;
  overflow: hidden;
}

.masthead-title {
  float: left;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;

  a {
    text-decoration: none;
  }

  small {
    margin-left: 1rem;
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.masthead-nav {
  float: right;
  font-size: 90%;
}
